# Listas, tuplas y diccionarios


Tanto las tuplas, como listas y diccionarios, **son una forma de almacenar varios datos diferentes, de diversos tipos (cadenas de texto, enteros, flotantes, booleanos…) en una misma variable.**

**El orden en el cual estos datos se especifican dentro de la variable, se denomina índice**, teniendo **el primer dato** un **índice 0 (cero)**, el siguiente 1, y así incrementalmente.

Veamos estos tres nuevos tipos de datos en detalle:

In [1]:
a = [1,2,3,4,"hola","Mundo",5,6,7,8,9,10]
b = (1,2,3,4,"hola","Mundo",5,6,7,8,9,10)
c = {1,2,3,4,"hola","Mundo",5,6,7,8,9,10}
d = {"a":1, "b":2, "c":3, "d":4}

In [2]:
print(a)
print(b)
print(c)
print(d)

[1, 2, 3, 4, 'hola', 'Mundo', 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 'hola', 'Mundo', 5, 6, 7, 8, 9, 10)
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Mundo', 'hola'}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# Tuplas

In [10]:
a = (1,2,4,5,"hola","mundo",5)
type(a)

tuple

### Las tuplas son secuencias, igual que las cadenas, y se puede utilizar la misma notación de índices que en las cadenas para obtener cada una de sus componentes.

In [11]:
a[1]

2

In [12]:
a[2]

4

In [13]:
len(a)

7

In [15]:
a[len(a)-1]
a[-1]

5

In [17]:
a[-2],a[-3]

('mundo', 'hola')

# Nota:  <font color="#8A0829">Las tuplas son inmutables. </font>
## <font color="#8A0829"> Los datos contenidos en una tupla no pueden modificarse. </font>

# Longitud de tuplas

Se les puede aplicar la función **len()** para calcular su longitud. Esta función nos indica cuántas componentes tiene esa tupla.

In [18]:
a = (1,2,4,5,"hola","mundo",5)
len(a)

7

# Empaquetado de tuplas

Si a una variable se le asigna una secuencia de valores separados por comas, el valor de esa variable será la tupla formada por todos los valores asignados.

A esta operación se la denomina **empaquetado de tuplas**.

In [19]:
a='pan'
b="leche"
c=100

tupla_b = a,b,c
print (tupla_b," es ",type(tupla_b))

('pan', 'leche', 100)  es  <class 'tuple'>

# Desempaquetado de tuplas

Si se tiene una tupla de longitud i, se puede asignar la tupla a i variables distintas y en cada variable quedará una de las componentes de la tupla. 

A esta operación se la denomina **desempaquetado de tuplas.**

In [31]:
puntos = ( (1,2),(4,5,5,4,5),(6,7,2,3,3))
for p in puntos:
    print(p[4])

IndexError: tuple index out of range

In [32]:
x,y,z = ( (1,2),(4,5),(6,7))
print(x)
print(y)
print(z)
x,y,z

(1, 2)
(4, 5)
(6, 7)

((1, 2), (4, 5), (6, 7))

In [40]:
tupla_b[0]

'pan'

In [21]:
#c,b,a = tupla_b
c,b,a = (100,"leche","pan")

print (a,b,c)

pan leche 100

In [33]:
c,b= tupla_b

ValueError: too many values to unpack (expected 2)

In [34]:
d,c,b,a = tupla_b

ValueError: not enough values to unpack (expected 4, got 3)

In [35]:
print (tupla_b)
b,b,b = tupla_b
print (b)

('pan', 'leche', 100)
100

In [44]:
leche="leche"
tupla_a = ('pan', leche, 100, 1234, True, 234.3)
lista_a = ['pan', 'leche', 100, 1234, True, 234.3]
tupla_a,lista_a,type(tupla_a),type(lista_a)

(('pan', 'leche', 100, 1234, True, 234.3),
 ['pan', 'leche', 100, 1234, True, 234.3],
 tuple,
 list)

In [45]:
lista_a

['pan', 'leche', 100, 1234, True, 234.3]

# Listas

Usaremos listas para poder modelar datos compuestos pero **cuya cantidad y valor varían a lo largo del tiempo**. 

<font color="#8A0829"> **Son secuencias mutables** </font>  y vienen dotadas de una variedad de operaciones muy útiles.

In [46]:
lista_a = ['pan', 'leche', 100, 1234, True, 234.3]
print (lista_a)

['pan', 'leche', 100, 1234, True, 234.3]

In [55]:
lista_a[0:-1:2]

['pan', 100, True]

In [48]:
lista_a[-1]

234.3

In [49]:
lista_a

['pan', 'leche', 100, 1234, True, 234.3]

# Cómo mutar listas

Dijimos antes que las listas son secuencias mutables. 

Para lograr la mutabilidad Python provee operaciones que nos permiten **cambiarle valores, agregarle valores y quitarle valores.**

In [68]:
print (lista_a,type(lista_a))
lista_a.append('nuevo_elemento')
print (lista_a)

['pan', 'leche', 'Miel', 'Miel', 'Miel', 'Miel', 100, 1234, True, 234.3, 'nuevo_elemento', 'otro_elemento'] <class 'list'>
['pan', 'leche', 'Miel', 'Miel', 'Miel', 'Miel', 100, 1234, True, 234.3, 'nuevo_elemento', 'otro_elemento', 'nuevo_elemento']

In [69]:
len(a)

3

In [58]:
lista_a.append('otro_elemento')
print (lista_a)

['pan', 'leche', 100, 1234, True, 234.3, 'nuevo_elemento', 'otro_elemento']

In [100]:
lista_a.insert(2,"Miel3")
print (lista_a)

['pan', 'leche', 'Miel3', 'Miel', 'Miel2', 'Miel', 'Miel1', 'Miel1', 100, 1234, True, 234.3, 'nuevo_elemento', 'otro_elemento', 'nuevo_elemento']

In [76]:
a = (1,2,3)
b = [1,2,3]
type(a),type(b)

(tuple, list)

In [70]:
b.append(4 ),a.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [101]:
print(lista_a)

['pan', 'leche', 'Miel3', 'Miel', 'Miel2', 'Miel', 'Miel1', 'Miel1', 100, 1234, True, 234.3, 'nuevo_elemento', 'otro_elemento', 'nuevo_elemento']

In [102]:
lista_a.remove('Miel')
print (lista_a)

['pan', 'leche', 'Miel3', 'Miel2', 'Miel', 'Miel1', 'Miel1', 100, 1234, True, 234.3, 'nuevo_elemento', 'otro_elemento', 'nuevo_elemento']

In [103]:
del lista_a[2]
print (lista_a)

['pan', 'leche', 'Miel2', 'Miel', 'Miel1', 'Miel1', 100, 1234, True, 234.3, 'nuevo_elemento', 'otro_elemento', 'nuevo_elemento']

In [105]:
del lista_a[2:7]
print (lista_a)

['pan', 'leche', 'nuevo_elemento', 'otro_elemento', 'nuevo_elemento']

In [113]:
print (lista_a)
lista_a.insert(2,"Miel")

['pan', 'leche', 'Miel', 'Miel', 'Miel', 'Miel', 'Miel', 'Miel', 'Miel3', 'nuevo_elemento', 'otro_elemento', 'nuevo_elemento']

In [ ]:
lista_a

In [ ]:
print (lista_a)

In [ ]:
print (lista_a)

In [ ]:
lista_a

In [ ]:
lista_a

In [ ]:
# Hay una manera de quitar un ítem de una lista dado su índice en lugar de su valor

print (lista_a)

In [ ]:
lista_b = 
print (lista_b)
lista_b
print (lista_b)
lista_b
print (lista_b)

# Longitud de listas

Se les puede aplicar la función **len()** para calcular su longitud. Esta función nos indica cuántas componentes tiene esa lista.

In [114]:
len(lista_a)

13

In [117]:
lista_a

['pan',
 'leche',
 'Miel',
 'Miel',
 'Miel',
 'Miel',
 'Miel',
 'Miel',
 'Miel',
 'Miel3',
 'nuevo_elemento',
 'otro_elemento',
 'nuevo_elemento']

In [122]:
n = 5
lista_a[len(lista_a)-n], lista_a[-n]

('Miel', 'Miel')

# Conversión de tipos

In [124]:
tupla = 1, 2, 3, 4 # == tupla = (1, 2, 3, 4)
print (tupla)

(1, 2, 3, 4)

In [125]:
list(tupla)

[1, 2, 3, 4]

In [127]:
lista_1 = list(tupla) 
lista_1

[1, 2, 3, 4]

In [128]:
lista = [1, 2, 3, 4]

In [129]:
tuple(lista)

(1, 2, 3, 4)

In [131]:
lista,type(lista)

([1, 2, 3, 4], list)

# En Python, las listas, las tuplas y las cadenas son parte del conjunto de las secuencias. Todas las secuencias cuentan con las siguientes operaciones:

In [132]:
tupla_a = ('pan', 'leche', 100, 1234, True, 234.3) # tupla
lista_a = ['pan', 'leche', 100, 1234, True, 234.3] # lista
string_a = 'pan leche 100 1235 True 234.3' #cadena

In [137]:
tupla_a[0],lista_a[0],string_a[0:-5]

('pan', 'pan', 'pan leche 100 1235 True ')

# Operandor <font color = "red"> in </font>

Ej. X **in** Y  

Indica si la variable X se encuentra en Y

In [138]:
"leche" in tupla_a

True

In [139]:
"leche" in lista_a

True

In [140]:
"leche" in string_a

True

# Concantena las secuencias X y Y

Ej. X + Y

In [148]:
tupla_a = ('pan', 'leche', 100, 1234, True, 234.3) # tupla
lista_a = ['pan', 'leche', 100, 1234, True, 234.3] # lista

#print(tupla_a + lista_a) # TypeError: can only concatenate tuple (not "list") to tuple
list(tupla_a)+lista_a

['pan',
 'leche',
 100,
 1234,
 True,
 234.3,
 'pan',
 'leche',
 100,
 1234,
 True,
 234.3]

In [163]:
list(range(1,23,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [151]:
(1,2,3)

(1, 2, 3)

In [164]:
a= tupla_a + tupla_a
a

('pan',
 'leche',
 100,
 1234,
 True,
 234.3,
 'pan',
 'leche',
 100,
 1234,
 True,
 234.3)

In [165]:
lista_a +lista_a

['pan',
 'leche',
 100,
 1234,
 True,
 234.3,
 'pan',
 'leche',
 100,
 1234,
 True,
 234.3]

In [166]:
string_a + string_a

'pan leche 100 1235 True 234.3pan leche 100 1235 True 234.3'

In [167]:
lista_a + list(tupla_a)

['pan',
 'leche',
 100,
 1234,
 True,
 234.3,
 'pan',
 'leche',
 100,
 1234,
 True,
 234.3]

In [168]:
tuple (lista_a) + tupla_a

('pan',
 'leche',
 100,
 1234,
 True,
 234.3,
 'pan',
 'leche',
 100,
 1234,
 True,
 234.3)

# Elemento i de Y, empezando por 0

Ej. Y[i]

In [174]:
tupla_a[2]

100

In [170]:
lista_a[2]

100

In [173]:
string_a[2]

'n'

# Porción de la secuencia Y desde i hasta j (no inclusive)

Ej. Y[i:j]

In [176]:
tupla_a[2:6]

(100, 1234, True, 234.3)

In [177]:
lista_a[2:6]

[100, 1234, True, 234.3]

In [178]:
string_a[2:6]

'n le'

# Porción de la secuencia Y desde i hasta j (no inclusive), con paso k

Ej. Y[i:j:k]

In [187]:
print (tupla_a)
print(len(tupla_a))
print(tupla_a[6-1])
tupla_a[0:6:2]

('pan', 'leche', 100, 1234, True, 234.3)
6
234.3

('pan', 100, True)

In [183]:
lista_a[0:6:2]

['pan', 100, True]

In [184]:
string_a[0:6:2]

'pnl'

# Copiar datos

In [188]:
x=5
y=x

In [189]:
y=6
print(x,y)

5 6

In [190]:
x=(5,6,7)
y=x

In [191]:
y= (7,8)
print (x,y)

(5, 6, 7) (7, 8)

In [195]:
x = [8,9,10]
print(id(x))
y=x.copy() 
print(id(y))

4367280576
4372671168

In [196]:
y[0]= 11
print (x,y)

[8, 9, 10] [11, 9, 10]

# Diccionarios

- Se encierra el listado de valores entre llaves **{}**, 
- Las parejas de clave y valor se separan con comas
- La clave y el valor se separan con **:**.

Ej. {Clave1:valor1, Clave2:valor2,...}

## <font color = "red"> No puede haber dos keys iguales, aunque sí dos valores iguales. </font>

In [197]:
type ( {1,2,4,6,4}), type({"a":1,"b":2,"c":3}) ,type ( (1,2,4,6,4) ),type ( [1,2,4,6,4] )

(set, dict, tuple, list)

In [198]:
diccionario_a = {"Pedro":100,"Juan":300,"Carlos":2000,"Diego":1000}

In [199]:
diccionario_a["Pedro"]

100

In [200]:
diccionario_a["Juan"]

300

In [202]:
print("Pedro")

Pedro

In [201]:
diccionario_a[0]

KeyError: 0

In [215]:
diccionario_b={}

In [216]:
diccionario_b

{}

In [217]:
print(type(diccionario_b))

<class 'dict'>

In [218]:
diccionario_b["a"] =1 
print(diccionario_b)

{'a': 1}

In [219]:
print(diccionario_b)

{'a': 1}

In [220]:
diccionario_b["b"] =1 
print(diccionario_b)

{'a': 1, 'b': 1}

In [221]:
len(diccionario_b)

2

In [222]:
diccionario_b["c"] = 120
print(diccionario_b)

{'a': 1, 'b': 1, 'c': 120}

In [212]:
print(diccionario_b)

{'a': 1, 'b': 1, 'c': 120}

In [223]:
len(diccionario_b)

3

In [224]:
del diccionario_b["a"]
print(diccionario_b)

{'b': 1, 'c': 120}

In [225]:
nombres = ["Pedro","Juan","Carlos","Diego"]
diccionario1 = dict.fromkeys(nombres)

print (diccionario1)

{'Pedro': None, 'Juan': None, 'Carlos': None, 'Diego': None}

# <font color = "blue"> NOTA </font>
El algoritmo que usa Python internamente para buscar un elemento en un diccionario es muy distinto que el que utiliza para buscar en listas.

**Para buscar en las listas**, se utiliza un **algoritmos de comparación** que tarda cada vez más a medida que la lista se hace más larga. 

En cambio, para **buscar en diccionarios** se utiliza un **algoritmo llamado hash**, que se basa en realizar un cálculo numérico sobre la clave del elemento, y tiene una propiedad muy interesante: **sin importar cuántos elementos tenga el diccionario, el tiempo de búsqueda es siempre aproximadamente igual.**

Este algoritmo de hash es también la razón por la cual las claves de los diccionarios deben ser inmutables, ya que la operación hecha sobre las claves debe dar siempre el mismo resultado, y si se utilizara una variable mutable esto no sería posible.

# Conjuntos

Python también incluye un tipo de dato para conjuntos. Un conjunto es una colección no ordenada y sin elementos repetidos. Los usos básicos de éstos incluyen verificación de pertenencia y eliminación de entradas duplicadas. Los conjuntos también soportan operaciones matemáticas como la unión, intersección, diferencia, y diferencia simétrica.

### Las llaves o la función set() pueden usarse para crear conjuntos.

### <font color = "red"> Notá que para crear un conjunto vacío tenés que usar set(), no {}; esto último crea un diccionario vacío </font>

In [226]:
set_a = {1,"a",2,"z","b",2}
set_a

{1, 2, 'a', 'b', 'z'}

In [228]:
type(set_a)

set

In [227]:
set_b = {'pan', 'leche', 100, 1234, True, 234.3,"pan","leche"}
set_b

{100, 1234, 234.3, True, 'leche', 'pan'}

In [229]:
set_c = {'pan', 'leche', 100, 1234, True, 234.3,"pan","leche"}
set_c

{100, 1234, 234.3, True, 'leche', 'pan'}

In [235]:
set_a = {'pan', 'leche', 100, 1234, True, 234.3,"pan","leche",'banana'}
set_b = {'pan', 'leche', 100, 1234, True, 234.3,"pan","leche",'pera', 'manzana', 'naranja'}
set_b

{100, 1234, 234.3, True, 'leche', 'manzana', 'naranja', 'pan', 'pera'}

In [236]:
set_b[0]

TypeError: 'set' object is not subscriptable

In [230]:
A= {1,2,3,4}
B= {3,4,5,6}

In [231]:
A-B

{1, 2}

In [232]:
A & B

{3, 4}

In [233]:
A | B

{1, 2, 3, 4, 5, 6}

In [234]:
A ^ B

{1, 2, 5, 6}

In [ ]:
print (set_a)
print (set_b)

In [ ]:
set_b-set_a # elementos en set_b pero no en set_a

In [ ]:
set_b | set_a # elementos en b o en a

In [ ]:
set_b & set_a # elementos en b y en a

In [ ]:
set_b ^ set_a # Elementos en a o b pero no en ambos

In [ ]:
set_b[1] #Es una colección no ordenada

In [ ]:
for i in A:
    print (A)

In [ ]:
for i in {1,6,7,8}:
    print (i)

In [ ]:
for i in set_b:
    print (i)

In [ ]:
len(set_b)

# Técnicas de iteración

In [238]:
for i, v in [("leche", 1), ('pera', 2), ('manzana', 3), ('naranja', 4)]:
    print(i, v)

leche 1
pera 2
manzana 3
naranja 4

In [239]:
dic_a = {"a":4,"b":3,"c":2,"d":1}
for i in dic_a:
    print (i,dic_a[i])

a 4
b 3
c 2
d 1

In [240]:
dic_a = {"a":4,"b":3,"c":2,"d":1}
for k, v in dic_a.items():
    print(k, v)

a 4
b 3
c 2
d 1

Para iterar sobre dos o más secuencias al mismo tiempo, los valores pueden emparejarse con la función **zip()**.

In [244]:
list( zip(nombres, valores) )

[('Pedro', 100), ('Juan', 300), ('Carlos', 2000), ('Diego', 1000)]

In [243]:
nombres = ["Pedro","Juan","Carlos","Diego"]
valores = (100,300,2000,1000,45,234,12,3,4,4,44,)

for n, v in zip(nombres, valores):
    print (n+str(v))

Pedro100
Juan300
Carlos2000
Diego1000

In [ ]:
nombres = ["Pedro","Juan","Carlos","Diego"]
valores = (100,300,2000,1000)

diccionario1 = nombres, valores
print (diccionario1)

In [ ]:
a= list(range(2,5+1))
a

In [ ]:
tmp=0
for var in a:
    
    tmp= var+tmp
    #tmp= tmp+ var
    #tmp += var

print (tmp)

In [ ]:
ta = (1,2,3,7)
tb = (4,5,6)

L=[]
for a,b in ta,tb:
    L.append(a+b)

print (tuple (L) )

# Tarea :

- Diseñar un programa que sume dos tuplas de números. 
- Diseñar un programa que pida los valores de dos vectores, y realice el producto punto de estos vectores.  
- Diseñar un programa que pida una nombre y que cambie las vocales por números (Encriptación). Ej. Nombre: Michel y lo cambie a M4ch3l. Utilizando diccionarios.